<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDL8K1BTq5fmtOzDLXlUoVy2xWs_v2d3Bs</string>
	<key>GCM_SENDER_ID</key>
	<string>298738451889</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatgpt</string>
	<key>PROJECT_ID</key>
	<string>chatgpt-flutter-app</string>
	<key>STORAGE_BUCKET</key>
	<string>chatgpt-flutter-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:298738451889:ios:749fbe11ad6dc42c576990</string>
</dict>
</plist>